<section id="content">
    <div class="container_12 top-1">
      <div class="grid_4 box-1"> <img src="/assets/images/page1-img1.jpg" alt=""> <a href="#"><span class="clr-1">Horse</span> Caretake</a> </div>
      <div class="grid_4 box-1"> <img src="/assets/images/page1-img3.jpg" alt=""> <a href="#"><span class="clr-1">Horse</span> Events</a> </div>
      <div class="grid_12">
        <div class="line pad-1"></div>
      </div>
      <div class="grid_4">
        <h2 class="p2">Welcome!</h2>
        <img src="/assets/images/page1-img4.jpg" alt="">
        <p class="text-1 top-2 p3">Lorem ipsum dolor sit amet</p>
        <p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo.</p>
        <a href="#" class="button top-3">Read More</a> </div>
      <div class="grid_4">
        <div class="left-1">
          <h2 class="p4">Our Horses</h2>
          <div class="wrap">
            <div class="number">1</div>
            <p class="extra-wrap border-bot-1"><span class="clr-1">Lorem ipsum</span><br>
              Happy Horse is one of free website templates created by Template Monster team. </p>
          </div>
          <div class="wrap">
            <div class="number">2</div>
            <p class="extra-wrap border-bot-1"><span class="clr-1">Aliquyam erat</span><br>
              This website template is optimized for 1280X1024 screen resolution. It is also XHTML & CSS valid.</p>
          </div>
          <div class="wrap">
            <div class="number">3</div>
            <p class="extra-wrap"><span class="clr-1">No sea takimata</span><br>
              The PSD source files of this Horse Club are available for free for the registered members.</p>
          </div>
        </div>
      </div>
      <div class="grid_4">
        <div class="left-2">
          <h2 class="p4">Recent Events</h2>
          <div class="wrap border-bot-1"> <img src="assets/images/page1-img5.jpg" alt="" class="img-indent">
            <p class="extra-wrap"><span class="clr-1">At vero eos et accusam</span><br>
              <a href="#" class="link">May 3, 2012</a><br>
              Justo duo dolores et rebum stet clita kasd gubergreno sea takimata sanctus consetetur sadipscing elitr.</p>
          </div>
          <div class="wrap border-bot-1"> <img src="assets/images/page1-img6.jpg" alt="" class="img-indent">
            <p class="extra-wrap"><span class="clr-1">At vero eos et accusam</span><br>
              <a href="#" class="link">May 3, 2012</a><br>
              Justo duo dolores et rebum stet clita kasd gubergreno sea takimata sanctus consetetur sadipscing elitr.</p>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </section>
