
    <div class="container">
        <h2>Horse Raising and Training Calendar</h2>
        <div routerLink="/events">Return to event page</div>

        <div class="calendar">
    
            <div class="weekday">Sun</div>
            <div class="weekday">Mon</div>
            <div class="weekday">Tue</div>
            <div class="weekday">Wed</div>
            <div class="weekday">Thu</div>
            <div class="weekday">Fri</div>
            <div class="weekday">Sat</div>

          
            <div class="date">1
                <ul class="activities">
                    <li class="activity">Horse training: 8:00 AM - 10:00 AM</li>
                    <li class="activity">Horse raising: 2:00 PM - 4:00 PM</li>
                </ul>
            </div>
            <div class="date">2</div>
            <ul class="activities">
                <li class="activity">Horse training: 8:00 AM - 10:00 AM</li>
                <li class="activity">Horse raising: 2:00 PM - 4:00 PM</li>
            </ul>
            <div class="date">3</div>
            <ul class="activities">
                <li class="activity">Horse training: 8:00 AM - 10:00 AM</li>
                <li class="activity">Horse raising: 2:00 PM - 4:00 PM</li>
            </ul>
            <div class="date">4</div>
            <div class="date">5</div>
            <ul class="activities">
                <li class="activity">Horse training: 8:00 AM - 10:00 AM</li>
                <li class="activity">Horse raising: 2:00 PM - 4:00 PM</li>
            </ul>
            <div class="date">6</div>
            <ul class="activities">
                <li class="activity">Horse training: 8:00 AM - 10:00 AM</li>
                <li class="activity">Horse raising: 2:00 PM - 4:00 PM</li>
            </ul>
            <div class="date">7</div>
    
        </div>
    </div>


