
    <div class="container">
        <h2>Horse Riding History</h2>

        <div routerLink="/home">Return to home</div>

        <ul class="history-list">
            
            <li class="history-item">
                <span class="date">January 1, 2023:</span>
                <div class="event">
                    Rode Black Beauty for the first time. It was an amazing experience!
                </div>
            </li>
            <li class="history-item">
                <span class="date">February 15, 2023:</span>
                <div class="event">
                    Participated in a horse riding competition and won the first prize.
                </div>
            </li>
            <li class="history-item">
                <span class="date">March 20, 2023:</span>
                <div class="event">
                    Went on a long trail ride with friends. Explored new trails and enjoyed the beautiful scenery.
                </div>
            </li>

        </ul>
    </div>
