
.form-group {
    width: 40%;
    margin: 2em auto 0;
    text-align: center;
    border-radius: 0.3em;
    padding: 0.8em;
    background-color: black
}

 h1 {
    padding-top: 0;
    border-bottom: none;
    padding-bottom: 0;
    padding-top: 1.5rem;
    color:white;
    font-weight: bold;
}

.form-group {
    flex: 0 1 100%;
    border: 1px solid;
    padding: 0.3em;
    border-left: 0.3em solid green;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}
    button {
    color: coral;
    border: none;
    border-radius: 0.3em;
    padding: 0.6em 1.2em;
    margin-top: 1.5rem;
    margin-left: 550px;
    margin-right: 100px;
    width: 10%;
    outline: none;
}
.form-group i {
    border: 1px solid;
    border-right: none;
    padding: 0.55em;
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    background-color: black;
}


.form-group .field{
    display: flex;
    padding-bottom: 0;
}
.password-toggle {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #007bff; /* Blue background color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.password-toggle:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
.fa-solid fa-house {
    color: white;
}
