<!--==============================header=================================-->
<header>
    <div class="main">
      <h1><a href="index.html"><img src="images/logo.png" alt=""></a></h1>
      <div class="social-icons"> <span>Follow Us:</span>
        <div> <a href="#" class="icon-3"></a> <a href="#" class="icon-2"></a> <a href="#" class="icon-1"></a> </div>
      </div>
      <div class="clear"></div>
    </div>
  </header>
  <nav>
    <ul class="menu">
      <li class="current"><a href="index.html">Home</a></li>
      <li><a href="booking.html">Book your lesson</a></li>
      <li><a href="events.html">Events</a></li>
      <li><a href="gallery.html">Gallery</a></li>
      <li><a href="contacts.html">Contacts</a></li>
    </ul>
    <div class="clear"></div>
  </nav>
  <div id="slide">
    <div class="slider">
      <ul class="items">
        <li><img src="images/slider-1.jpg" alt="">
          <div class="banner">
            <p class="extra-wrap"><strong>Book your lesson now!</strong><span>Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed diam nonumy</span></p>
            <a href="#">Read More</a></div>
        </li>
        <li><img src="images/slider-2.jpg" alt="">
        </li>
        <li><img src="images/slider-3.jpg" alt="">
          <div class="banner">
            <p class="extra-wrap"><strong>We can care about your horses!</strong><span>Consetetur sadipscing elitr sed diam nonumy</span></p>
            <a href="#">Read More</a></div>
        </li>
      </ul>
    </div>
    <a href="#" class="prev"></a><a href="#" class="next"></a> </div>