<!-- <div class="container">
    <h2>Profile</h2>
    <div class="user-details">
       
        <img src="../../assets/images/avatar.jpg" alt="Profile Avatar" class="avatar">
        
        <div class="user-info">
            <p><strong>Name:</strong> {{ user.name }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
        </div>
    </div>
    Logout button -->
    <!-- <div class="logout-section">
        <button (click)="logout()" class="btn btn-danger">Logout</button>
    </div>
</div> -->
