
<app-home-header></app-home-header>
<div id="slide">
    <div class="slider">
      <ul class="items">
        <li><img src="src/assets/images/slider-1.jpg" alt="">
          <div class="banner">
            <p class="extra-wrap"><strong>Book your lesson now!</strong><span>Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed diam nonumy</span></p>
            <a href="#">Read More</a></div>
        </li>
        <li><img src="assets/images/slider-2.jpg" alt="">
        </li>
        <li><img src="assets/images/slider-3.jpg" alt="">
          <div class="banner">
            <p class="extra-wrap"><strong>We can care about your horses!</strong><span>Consetetur sadipscing elitr sed diam nonumy</span></p>
            <a href="#">Read More</a></div>
        </li>
      </ul>
    </div>
    <a href="#" class="prev"></a><a href="#" class="next"></a> </div>
<app-home-main></app-home-main>

<app-home-footer></app-home-footer>