 @import url('../../../styles/css/slider.css'); 

.mainIMG {
    position:relative;
	width:1264px;
	height:700px;
	margin:0 auto;
	padding:0px 0px 0 0px;
	z-index:2;
	overflow:hidden;
	margin:0 auto;
}

.banner {
	position:absolute;
	left:162px;
	top:465px;
	width:940px;
	background:#fff;
	overflow:hidden;
	padding:10px 0 0px 0;
}
.banner p {
	width:740px;
	float:left;
}
.banner p strong {
	font-size:50px;
	line-height:60px;
	color:black;
	font-weight:normal;
	letter-spacing:-3px;
	display:block;
}
.banner p span {
	font-size:18px;
	line-height:24px;
	color:#636f6f;
	font-weight:normal;
	letter-spacing:-1px;
	display:block;
	margin-top:-1px;
}
.banner a {
	background:greenyellow;
	color:#fff;
	font-size:26px;
	line-height:32px;
	padding:10px 22px 21px 30px;
	display:inline-block;
	/* float: right; */
	margin-top:18px;
	border-radius: 20px;
}
.banner a:hover {
	background:#636f6f;
} 



/* test */

/* .home-container {
	display: flex;
	.all-horses {
		width: 75%;
		min-height: calc(100vh - 80px);
		border-right: 1px solid gray;
		padding: 20px 40px;
		font-family: "Roboto", sans-serif;
		.top {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 15px;
			h4 {
				text-transform: uppercase;
				font-weight: bold;
				border-left: 5px solid gray;
				padding-left: 10px;
			}
			.horses {
				.horse {
					margin-bottom: 20px;
					display: flex;
					align-items: center;
					justify-content: space-between;
					.name {
						font-weight: bold;
						cursor: pointer;
					}
				}
				.view-all {
					color: gray;
					cursor: pointer;
				}
			}
			
		}
		.horses-thumbnail {
			display: flex;
			justify-content: space-between;
			margin-bottom: 30px;
			.horse {
				.cover {
					img {
						border-radius: 5px;
					}

				}
				.detal {
					width: 180px;
					.name {
						font-weight: bold;
						height: 50px;
						margin-top: 50px;
						cursor: pointer;
					}
				}
			}
		}
		.view-all {
			color: pink;
			text-align: right;
			margin-top: 30px;
			cursor: pointer;
		}
	}

	.popular-horses {
		width: 25%;
		min-height: calc(100vh - 80px);
		padding: 20px 40px;
		font-family: "Roboto", sans-serif;
	}
}


 */
