<app-home-header></app-home-header>

<img class="mainIMG" src="../../assets/images/slider-1.jpg" alt="">


<!-- <div id="slide">
    <div class="slider">
      <ul class="items">
        <li><img src="../../assets/images/slider-1.jpg" alt="">
          <div class="banner">
            <p class="extra-wrap"><strong>Book your lesson now!</strong><span>Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed diam nonumy</span></p>
            <a href="#">Read More</a></div>
        </li>
        <li><img src="../../assets/images/slider-2.jpg" alt="">
        </li>
        <li><img src="../../assets/images/slider-3.jpg" alt="">
          <div class="banner">
            <p class="extra-wrap"><strong>We can care about your horses!</strong><span>Consetetur sadipscing elitr sed diam nonumy</span></p>
            <a href="#">Read More</a></div>
        </li>
      </ul>
    </div>
    <a href="#" class="prev"></a><a href="#" class="next"></a> </div> -->
<app-home-main></app-home-main>

<app-home-footer></app-home-footer>





<!-- test -->
<!-- <div class="home-container">
  <div class="all-horses">
    <div class="trending-horses">
      <div class="top">
        <h4>Trending Horses</h4>
        <div class="view-all">View All</div>
      </div>
      <div class="horses-thumbnail">
        <div class="horse" *ngFor="let horse of trendingHorses">
          <div class="cover">
            <img [src]="horse.cover" alt="">
          </div>
          <div class="detail">
            <div class="name">{{ horse.name }}</div>
            <div class="rating">{{ horse.rating }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="popular-horses"></div>
    <div class="top">
      <h4>Popular Horses</h4>
      <div class="view-all">View All</div>
    </div>
    <div class="horses-thumbnail">
      <div class="horse" *ngFor="let horse of popularHorses">
        <div class="cover">
          <img [src]="horse.cover" alt="">
        </div>
        <div class="detail">
          <div class="name">{{ horse.name }}</div>
          <div class="rating">{{ horse.rating }}</div>
        </div>
      </div>
      <div class="view-all"></div>
    </div>
  </div> -->
