
    <div class="container">
        <h2>Comments Section</h2>

        <form class="comment-form" (submit)="postComment()">
            <textarea placeholder="Write your comment here..." [(ngModel)]="newComment"></textarea>
            <button type="submit">Post Comment</button>
        </form>

        <div class="comments">
            <div *ngFor="let post of posts" class="comment">
                <p><strong>{{ post.userId.username }}:</strong> {{ post.themeId.themeName }}</p>
                <button class="delete-button" (click)="deleteComment(comment.id)">Delete</button>
            </div>
        </div>
    </div>

[    <div *ngFor="let post of posts" class="comment">
]        <p><strong>{{ post.userId.username  }}:</strong> {{post.themeId.themeName }}</p>
        <button (click)="editComment(comment)">Edit</button>
      </div>
      <div class="comments">
        <div *ngFor="let post of posts" class="comment">
          <p><strong>{{ post.userId.username }}:</strong> {{ post.themeId.themeName }}</p>
          <button (click)="editComment(comment)">Edit</button>
          <button (click)="deleteComment(comment)">Delete</button>
        </div>
      </div>
